In [269]:
#Create a path to the file
#Create dataframe, describe and analyze dataframe
#The total number of months included in the dataset.
#The net total amount of Profit/Losses over the entire period.
#The average of the changes in Profit/Losses over the entire period.
#The greatest increase in profits (date and amount) over the entire period.
#The greatest decrease in losses (date and amount) over the entire period.

In [270]:
import pandas as pd
from pathlib import Path
import numpy as np

In [304]:
#Create a path to the file
csvpath = Path("budget_data.csv")
output_path = Path('PyBank_code.txt')

In [305]:
#describe and analyze dataframe
budget_df=pd.read_csv(csvpath)
budget_df.head(10)

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503
5  Jun-10         522857
6  Jul-10        1033096
7  Aug-10         604885
8  Sep-10        -216386
9  Oct-10         477532

In [306]:
budget_df.shape

(86, 2)

In [307]:
budget_df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [308]:
Number_month=budget_df.shape[0]
Number_month

86

In [309]:
#The total number of months included in the dataset.
print(f"Total Months: {Number_month}")

Total Months: 86

In [310]:
#The net total amount of Profit/Losses over the entire period
Total_PandL = sum(budget_df['Profit/Losses'])
Total_PandL
print(f"Total: ${Total_PandL}")

Total: $38382578

In [311]:
#The average of the changes in Profit/Losses over the entire period.
budget_df['changes_PaL'] = budget_df['Profit/Losses'].diff().fillna(0).astype(int)
budget_df.head()

     Date  Profit/Losses  changes_PaL
0  Jan-10         867884            0
1  Feb-10         984655       116771
2  Mar-10         322013      -662642
3  Apr-10         -69417      -391430
4  May-10         310503       379920

In [312]:
change=budget_df['changes_PaL'][1:86].mean()
print(f"Average Change: ${round(change,2)}")

Average Change: $-2315.12

In [313]:
#The greatest increase in profits (date and amount) over the entire period.
budget_df.set_index(budget_df['Date'], inplace=True)
budget_df['changes_PaL'].idxmax(axis=0, skipna=True)
budget_df['changes_PaL'].max()
print(f"Greatest Increase in Profits: {budget_df['changes_PaL'].idxmax(axis=0, skipna=True)}  $({budget_df['changes_PaL'].max()})")

Greatest Increase in Profits: Feb-12  $(1926159)

In [314]:
#The greatest decrease in losses (date and amount) over the entire period.
budget_df.set_index(budget_df['Date'], inplace=True)
budget_df['changes_PaL'].idxmin(axis=0, skipna=True)
budget_df['changes_PaL'].min()
print(f"Greatest Decrease in Losses: {budget_df['changes_PaL'].idxmin(axis=0, skipna=True)}  $({budget_df['changes_PaL'].min()})")

Greatest Decrease in Losses: Sep-13  $(-2196167)

In [315]:
Intro = 'Financial Analysis'
Underscore = '----------------------------'
print(Intro)
print(Underscore)
print(f"Total Months: {Number_month}")
print(f"Total: ${Total_PandL}")
print(f"Average Change: ${round(change,2)}")
print(f"Greatest Increase in Profits: {budget_df['changes_PaL'].idxmax(axis=0, skipna=True)}  $({budget_df['changes_PaL'].max()})")
print(f"Greatest Decrease in Losses: {budget_df['changes_PaL'].idxmin(axis=0, skipna=True)}  $({budget_df['changes_PaL'].min()})")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-12  $(1926159)
Greatest Decrease in Losses: Sep-13  $(-2196167)

In [326]:
#Open and Write the text file
with open (output_path,"w") as textFile:
    textFile.write(Intro+"\n")
    textFile.write(Underscore+"\n")
    textFile.write(f"Total Months: {Number_month}\n")
    textFile.write(f"Total: ${Total_PandL}\n")
    textFile.write(f"Average Change: ${round(change,2)}\n")
    textFile.write(f"Greatest Increase in Profits: {budget_df['changes_PaL'].idxmax(axis=0, skipna=True)}  $({budget_df['changes_PaL'].max()})\n")
    textFile.write(f"Greatest Decrease in Losses: {budget_df['changes_PaL'].idxmin(axis=0, skipna=True)}  $({budget_df['changes_PaL'].min()})\n")